*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    text-align: center;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

.header{
    position: relative;
    top: 0;
    height: 12vh;
    width: 100vw;
}

.playArea{
    display: block;
    position: relative;
    height: 75vh;
    width: 100%;
    
}

.playArea .controls{
    display: block;
    position: relative;
    height: 10vh;
}

.gridContainer{
    display: block;
    position: relative;
    padding: 0;
    margin: auto;
    /*height: 504px;*/
    width: 504px;
    border: 2px solid black;
}

.pixel{
    background-color: white;
    border: 1px solid black;
}

.pixelRow{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.controls{
    margin-bottom: 5px;
    height: 10vh;
}

.dropdown{
    width: 60px;
    height: 30px;
    margin: 5px;
    padding: 5px;
}

.btnControl{
    width: 100px;
    height: 35px;
    margin: 5px;
    padding: 5px;   
}

.fa, .fas{
    width: 40px;
}

.secondaryControls{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20vh;
    position: relative;
}

.footer{
    display: block;
    position: fixed;
    bottom: 0;
    height: 5vh;
    width: 100vw;
    background-color: black;
    color: white;
}


/*if the device is a mobile device, change the layout*/
@media only screen and (max-width: 800px){
    .container{
        width: 100vw;
        height: 90vh;
        padding: 0;
        margin: 0;
        border: 1px solid black;
    }

}

