*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    text-align: center;
    min-height: 100vh;
}

body{
    display: block;
    position: relative;
    padding: 0;
}

.header{
    top: 0;
    height: 75px;
    width: 100%;
    overflow: hidden;
}

.header h1{
    font-size: 3em;
    font-family: 'Pacifico', cursive;
    color: black;
    text-shadow: 2px 2px 2px grey;
}

.playArea{
    width: 100vw;
    height: 80vh;
}

 .controls{
    display: block;
    position: relative;
    height: 50px;
    margin: 5px;
}

.primaryControls, .secondaryControls{
    display: flex;
    justify-content: center;
    align-items: center;
}


.secondaryControls .btn{
    margin: 0 10px;  
}

#colorPicker{
    width: 60px;
    height: 30px;
    margin-top: 5px;
}

.gridContainer{
    display: block;
    position: relative;
    padding: 0;
    margin: auto;
    /*height: 504px;
    width: 504px;*/
    border: 2px solid black;
}

.pixel{
    background-color: white;
    border: 1px solid black;
}

.pixelRow{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}


.dropdown{
    width: 60px;
    height: 30px;
    margin-top: 5px;
    padding: 5px;
}

#colorPicker{
    width: 60px;
    height: 30px;
    margin-right: 10px;
}

.btnControl{
    width: 100px;
    height: 35px;
    margin: 5px;
    padding: 5px;
}

.fa, .fas{
    width: 40px;
    height: 35px;
}



footer{
    display: flex;
    justify-content: center;
    height: 60px;
    padding: 5px;
    margin-top: 5px;
}


/*if the device is a mobile device, change the layout*/
@media only screen and (max-width: 800px){
    body{
        display: inline;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .gridContainer{
        display: block;
        position: relative;
        padding: 0;
        margin: auto;
        width: 502px;
        border: 1px solid black;
    }

    header{
        height: 50px;
    }

    footer{
        height: 50px;
        padding-top: 1vh;
    }

    .btnControl{
        width: 80px;
        height: 35px;
        margin: 2px;
        padding: 2px;   
    }


}

@media only screen and (max-width: 600px), (max-height: 600px){
    body{
        display: block;
        position: relative;
        width: 100%;
        height: 100%;
        padding: 0;
        margin: 0;
    }
    .gridContainer{
        display: block;
        position: relative;
        padding: 0;
        margin: auto;
        width: 502px;
        border: 1px solid black;
    }

    .btnControl{
        width: 80px;
        height: 35px;
        margin: 2px;
        padding: 2px;   
    }


    header{
        height: 5vh;
    }

    footer{
        height: 40px;
        padding-top: 1vh;
    }
}





